.dashboard-header {
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;      /* keep normal padding */
  box-sizing: border-box;

  position: sticky;
  top: 0;
  z-index: 3000;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);

}



/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #f97316;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.logo {
  height: 56px;          /* 👈 ideal size */
  width: auto;
  object-fit: contain;
  background: transparent;
}


.app-title {
  font-size: 30px;
  font-weight: bold;
  color: #111827;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
}

/* PROFILE */
.profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
   padding: 8px 14px;              /* 👈 box padding */
  border: 1px solid #e5e7eb;      /* 👈 rectangle border */
  border-radius: 8px;             /* 👈 rounded rectangle */
  background: #ffffff; 
  cursor: pointer;
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

.profile:hover {
  background: #f9fafb;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.profile i {
  font-size: 14px;
  color: #6b7280;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e5e7eb;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.dropdown {
  position: absolute;
  right: 0;
  top:  calc(100% + 8px);
  width: 180px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  overflow: hidden;
  z-index: 1000;
}

.dropdown button {
  width: 100%;
  padding: 10px 14px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropdown button:hover {
  background: #f3f4f6;
}
