<header class="dashboard-header">
  <!-- LEFT -->
  <div class="left">
    <img src="assets/images/Indian_Railways.svg" class="logo" alt="UMP Logo" />
    <span class="app-title">UMP GIS Application</span>
  </div>

  <!-- RIGHT -->
  <div class="right">
    <div class="profile" (click)="toggleMenu()">
       <img
        [src]="profileImage"
        (error)="onImageError($event)"
        class="avatar"
        alt="User"
      /> 
      <span class="name">{{ userName }}</span>
      <i class="fas fa-chevron-down"></i>

      <div class="dropdown" *ngIf="showMenu">
        <button>
          <i class="fas fa-user"></i>
          My Profile
        </button>
        <button>
          <i class="fas fa-cog"></i>
          Settings
        </button>
        <button (click)="checkRatingBeforeLogout()">
          <i class="fas fa-power-off"></i>
          Logout
        </button>
      </div>
    </div>
  </div>
</header>

<!-- Bootstrap Modal for rating-->
<div class="modal fade show d-block rating-modal-overlay" tabindex="-1" *ngIf="showModal">
    <div class="modal-dialog modal-dialog-centered rating-modal-dialog">
        <div class="modal-content rating-modal-content">

            <div class="modal-header rating-modal-header">
                <h5 class="modal-title rating-modal-title">Rate Your Experience</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>

            <div class="modal-body text-center rating-modal-body">
                <div class="stars mb-3 rating-stars">
                    <i *ngFor="let star of stars" class="bi"
                        [ngClass]="star <= selectedRating ? 'bi-star-fill active-star rating-star-icon' : 'bi-star rating-star-icon'"
                        (click)="setRating(star)">
                    </i>
                </div>
                <textarea class="form-control rating-comment-box" rows="4" [(ngModel)]="message"
                    placeholder="Write here..."></textarea>
            </div>

            <div class="modal-footer rating-modal-footer">
                <button class="btn btn-secondary rating-btn rating-btn-cancel" (click)="closeModal()">Cancel</button>
                <button class="btn btn-primary rating-btn rating-btn-submit" [disabled]="!selectedRating" (click)="addRating()">Submit</button>
            </div>

        </div>
    </div>
</div>
