html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Background */
  .bg-map {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Login card like IRAsset_2 */
  .login-card {
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #005fa2;
    padding: 32px 40px 28px;
    width: 450px;  
    margin-top: 280px;
    height: 700px;  
    margin-left: 1900px;
    max-width: 90vw;
    box-shadow: 0 10px 30px rgba(0,0,0,0.30);
    
  }

  /* push card a bit from the right edge on large screens */
@media (min-width: 1200px) {
    .login-card {
      margin-right: 12vw;
    }
  }
  
  .login-title {
    margin-top: 50px;
    font-size: 45px;
    font-weight: 600;
    color: #005fa2;
    margin-bottom: 0;
  
    text-align: center;      /* ✅ center both lines */
    line-height: 1.2;
  }
  
  .login-subtitle {
    display: block;
    font-size: 45px;         /* optional: slightly smaller */
    font-weight: 600;
  }
  
  
  /* .login-subtitle {
    font-size: 30px;
    font-weight: 600;
    color: #005fa2;
    margin-top: 4px;
    margin-bottom: 18px;
  } */

  
  /* Inputs */
  .login-caption {
    font-size: 26px;
    color: #333;
    margin-bottom: 18px;
    margin-top: 40px;
  }
  
  .login-input {
    width: 400px;
    margin: 0 auto;
    height: 60px;
    padding: 4px 8px;
    font-size: 25px;
    background-color: #eef3ff;
    border: 1px solid #9da4b3;
    border-radius: 0;
  }
  .login-input:focus {
    outline: none;
    box-shadow: none;
    border-color: #0065b3;
  }
  
  /* ----- Login button (blue pill) ----- */
  .login-btn {
    width: 150px;
    height: 80px;
    margin: 20px auto 0 auto;   /* ✅ centers horizontally */
    display: block;             /* ✅ required for margin auto */
  
    border-radius: 999px;
    background: #0065b3;
    border: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 3px 8px rgba(0,0,0,0.35);
  }
  
  
  .login-btn:hover {
    background: #004e8f;
  }
  
  /* ----- Note text ----- */
  .login-note {
    margin-top: 40px;
    font-size: 25px;
    color: #444;
  }
  