/* .panel {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 220px;
  background: white;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  z-index: 2000;
} */

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  font-size: 20px; /* consistent with other panels */
}

.symbol {
  margin-right: 10px;
}

.symbol.point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.symbol.line {
  width: 22px;
  height: 4px;
}

